In [1]:
import pandas as pd
import numpy as np

In [2]:
filename = '額外測試'
df= pd.read_csv('D:/openpose_data/揮手測試/'+filename+'/骨架資訊_all.csv',header= None)
df

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,0.000000,0.000000,0.000000,492.784637,325.317505,0.634839,110.482216,325.218811,0.467789,13.475430,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.000000,513.774231,351.293182,0.676311,147.099335,340.914673,0.479992,13.511430,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,524.122253,351.618835,0.734731,183.887726,351.430389,0.512940,13.483894,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,550.534790,377.557861,0.666632,225.739410,367.097809,0.522597,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,561.067810,393.094208,0.736353,246.699188,393.186157,0.536813,100.112747,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,717.998413,99.918266,0.634007,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
925,702.489319,110.543839,0.625799,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
926,691.723267,141.866547,0.666179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
927,655.334961,147.165985,0.624888,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
928,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,105.264664,608.077087,0.137172,13.454401,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
path = 'D:/openpose_data/揮手測試/'+filename+'/標記.txt'
f = open(path, 'r')
#print(f.read())
l = f.read().split()
f.close()

In [7]:
l

['star:50',
 '1:85:145',
 '2:175:230',
 '3:285:320',
 '4:360:400',
 '5:470:515',
 '6:540:590',
 '7:630:715',
 '8:750:830',
 '9::',
 '10::',
 'end:900']

In [23]:
df['wave'] = 0
df['wave'][int(l[1][2:4]):int(l[1][5:])] = 1
df['wave'][int(l[2][2:5]):int(l[2][6:])] = 1
df['wave'][int(l[3][2:5]):int(l[3][6:])] = 1
df['wave'][int(l[4][2:5]):int(l[4][6:])] = 1
df['wave'][int(l[5][2:5]):int(l[5][6:])] = 1
df['wave'][int(l[6][2:5]):int(l[6][6:])] = 1
df['wave'][int(l[7][2:5]):int(l[7][6:])] = 1
df['wave'][int(l[8][2:5]):int(l[8][6:])] = 1
# df['wave'][int(l[9][2:6]):int(l[9][7:])] = 1
# df['wave'][int(l[10][3:7]):int(l[10][8:])] = 1

C:\Users\DodoLu\AppData\Local\Temp\ipykernel_20036\13912206.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wave'][int(l[1][2:4]):int(l[1][5:])] = 1
C:\Users\DodoLu\AppData\Local\Temp\ipykernel_20036\13912206.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wave'][int(l[2][2:5]):int(l[2][6:])] = 1
C:\Users\DodoLu\AppData\Local\Temp\ipykernel_20036\13912206.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wave'][int(l[3][2:5]):int(l[3][6:])] = 1
C:\Users\DodoLu\AppData\Local\Temp\ipykernel_20036\13912206.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wave'][int(l[4][2:5]):int(l[4][6:])] = 1
C:\Users\DodoLu\AppData\Local\Temp\ipykernel_20036\13912206.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wave'][int(l[5][2:5]):int(l[5][6:])] = 1
C:\Users\DodoLu\AppData\Local\Temp\ipykernel_20036\13912206.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wave'][int(l[6][2:5]):int(l[6][6:])] = 1
C:\Users\DodoLu\AppData\Local\Temp\ipykernel_20036\13912206.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wave'][int(l[7][2:5]):int(l[7][6:])] = 1
C:\Users\DodoLu\AppData\Local\Temp\ipykernel_20036\13912206.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wave'][int(l[8][2:5]):int(l[8][6:])] = 1

In [24]:
df[df['wave'] == 1]

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,wave
85,566.310852,314.947845,0.945424,581.893860,560.888611,0.860307,435.018219,561.162659,0.843932,377.618774,...,498.126648,1844.184448,0.621257,466.558472,1823.124146,0.609085,566.250549,1734.402466,0.721866,1
86,566.362854,314.997345,0.935589,587.148254,560.874695,0.851823,435.154907,561.052795,0.847577,367.149994,...,508.482971,1833.880615,0.637538,471.841187,1818.097168,0.615529,566.359436,1734.247437,0.718745,1
87,566.379944,319.935669,0.919215,587.033691,560.886047,0.848351,435.049133,561.077271,0.842102,356.734009,...,513.664368,1838.928833,0.637693,476.984497,1818.083252,0.603653,566.387939,1734.212402,0.708869,1
88,571.333862,319.938049,0.904866,587.146912,560.945374,0.850941,435.213318,561.098938,0.842078,346.236298,...,513.618591,1838.943237,0.641808,476.962311,1818.113403,0.606134,566.404785,1734.082764,0.699840,1
89,571.509338,320.011475,0.891348,587.161194,560.949036,0.847920,435.189301,561.076599,0.840726,335.760895,...,508.625641,1838.953247,0.645448,476.952637,1818.070679,0.609212,571.405579,1734.041870,0.699572,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,576.687988,356.582092,0.910318,592.368530,565.964478,0.891723,440.675842,550.473267,0.816267,440.493256,...,492.947296,1755.230103,0.672950,466.603516,1734.365479,0.684187,560.949890,1686.982422,0.627432,1
826,576.698303,356.593140,0.912563,592.405640,566.028809,0.891020,440.689270,555.670715,0.826984,430.091278,...,492.872559,1760.428711,0.668483,466.547974,1739.416138,0.684454,560.721741,1687.168823,0.648625,1
827,576.702637,356.602173,0.910670,592.374939,566.080139,0.887834,440.661041,560.674377,0.834155,424.694885,...,498.018768,1760.385864,0.654088,466.631287,1739.366577,0.677744,560.778259,1687.121338,0.638709,1
828,576.702209,356.621094,0.909515,592.392395,566.196167,0.886384,440.668732,560.858521,0.838869,409.064758,...,487.775757,1760.469482,0.681622,461.481934,1739.451050,0.702190,560.740479,1692.256104,0.657478,1
829,576.687683,356.610535,0.911122,592.445190,566.210144,0.884173,440.623962,560.852051,0.840347,398.692810,...,487.759857,1765.601562,0.692305,461.465088,1739.519653,0.697904,560.768433,1692.257935,0.663032,1

In [25]:
df.to_csv('D:/openpose_data/揮手測試/'+filename+'/骨架資訊_all_標記.csv',index = False)

df['signal'] = [0 if s <t1 and s>t3 else "Junior" for s in df['fta_dtm']]

In [ ]:
# from datetime import datetime


# t1 = datetime(2022,7,10,2,7)
# t2 = datetime(2022,7,10,2,12)
# t3 = datetime(2022,7,10,2,42)
# conditionlist = [
#     (df['fta_dtm'] < t1) ,
#     (df['fta_dtm'] > t3) ,
#     (df['fta_dtm'] >= t2) & (df['fta_dtm'] <=t3),
#     (df['fta_dtm'] >= t1) & (df['fta_dtm'] <t2)]
# choicelist = ['0', '0', '1', '2']
# df['signal'] = np.select(conditionlist, choicelist, default='Not Specified')
# print(df)

In [ ]:
# from datetime import datetime
# df[df['fta_dtm']>datetime(2022,7,10,2,41)]

In [49]:
# df.to_csv('D:/data paper break/2022_07_資料/DCS/DCS_SKF_0708_0710_SL0C_ALL.csv')

In [23]:
# import pandas as pd
# import numpy as np

# list_of_dates = ['2019-11-20', '2020-01-02', '2020-02-05','2020-03-10','2020-04-16','2020-05-01']
# employees = ['Hisila', 'Shristi','Zeppy','Alina','Jerry','Kevin']
# salary = [200,400,300,500,600,300]
# df_t = pd.DataFrame({"Name":employees,'Joined date': pd.to_datetime(list_of_dates),"Salary":salary})

# conditionlist = [
#     (df_t['Salary'] >= 500) ,
#     (df_t['Salary'] >= 300) & (df_t['Salary'] <300),
#     (df_t['Salary'] <= 300)]
# choicelist = ['High', 'Mid', 'Low']
# df_t['Salary_Range'] = np.select(conditionlist, choicelist, default='Not Specified')


# print(df_t)

      Name Joined date  Salary   Salary_Range
0   Hisila  2019-11-20     200            Low
1  Shristi  2020-01-02     400  Not Specified
2    Zeppy  2020-02-05     300            Low
3    Alina  2020-03-10     500           High
4    Jerry  2020-04-16     600           High
5    Kevin  2020-05-01     300            Low